table {
    width: 100%;
    margin: 1rem 0;
    border-collapse: collapse;
    background-color: white;

    tr:nth-child(even) {background: #CCC}
    tr:nth-child(odd) {background: #FFF}
    td:first-child{font-weight: bold;}

    th {
        padding: 0.5rem 1rem;
        background-color: $primary-font-color;
        color: white;
    }

    td {
        padding: 0.5rem 1rem;
        border: 1px solid $primary-font-color;
        
        &.number{
            text-align: right;
        }

        &.no-stock{
            color: red;
        }
    }
    

}